.unitComplete {
	/*http: //openclipart.org/detail/167549/green-tick---simple-by-kliponius*/
	background-image: url('../images/Kliponious-green-tick.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	list-style-type: none;
}

.unitActive {
	/*http://openclipart.org/detail/17020/icon_arrow_right_green-by-jean_victor_balin*/
	background-image:
		url('../images/jean_victor_balin_icon_arrow_right_green.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	list-style-type: none;
}

.unitUndone {
	background-image: url('../images/red-cross.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	list-style-type: none;
	/*http://openclipart.org/detail/166859/red-cross-by-rygle*/
}

.helpButton {
	background-url: http://openclipart.org/detail/11323/nps-map-pictographs-part-2-by-johnny_automatic-11323
}

.sourceCodeButton {
	background-url: http://openclipart.org/detail/13560/magnifying-glass-by-sarxos
}

.statusIncomplete {
	color: red;
}

.statusComplete {
	color: green;
}

.nav-pills>.complete>a,.nav-pills>.complete>a:hover,.nav-pills>.complete>a:focus
	{
	color: #fff;
	background-color: #04B431;
}

.helper {
	margin-right: 15px;
}

.helpers {
	border-bottom: 1px solid #EEEEEE;padding-bottom: 12px;
}

.ui-widget-header {
	background-color: black;
}

ul ul {
	padding-left: 13px;
}