/*
*   eLyXer -- convert LyX source files to HTML output.
*
*   Copyright (C) 2009-2010 Alex FernÃ¡ndez
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see http://www.gnu.org/licenses/.
*/
/* --end--
* Global CSS file for LyX documents.
*/


pre {
	padding: 0em;
	margin: 0em;
	width: auto;
	font-family: monospace;
	line-height: 1.5em;
}
pre.LyX-Code {
	margin: 0.5em 3em;
}

img.figure {
	width: 100%;
	_width: auto;
}
div.multifigure {
	padding: 1ex;
	width: 100%;
}
div.multitable {
	display: inline-block;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.multialgorithm {
	display: inline-block;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.wrap-l, div.wrap-o, div.wrap-i {
	margin: 2ex;
	float: left;
}
div.wrap-r {
	margin: 2ex;
	float: right;
}
div.listing {
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5ex;
	border: thin solid #c0c0c0;
}
span.number-left {
	float: left;
	background: #f0f0f0;
	width: 3em;
	text-align: right;
	margin-right: 1em;
}

