{extends file="model/task/question/text.tpl"}
{block name="task"}
<div>
	<h3>Auftragsbeschreibung</h3> 
	<div>{$activeTask->getInstruction()}</div>
	<h3>{$activeTask->getApplicationName()}</h3>
	(<a href="http://unitsystem.local" target="_blank">in neuem Tab öffnen</a>)
	<br />
	<iframe src="http://unitsystem.local" width="70%" height="200px">
		Fehler, diese Anwendung nutzt iFrames, bitte aktiviere diese!
	</iframe>
</div>
{/block}
