/* Based on mbonaci's Brackets mbo theme */
.cm-s-mbo.CodeMirror {
	background: #2c2c2c;
	color: #ffffe9;
}

.cm-s-mbo div.CodeMirror-selected {
	background: #716C62 !important;
}

.cm-s-mbo .CodeMirror-gutters {
	background: #4e4e4e;
	border-right: 0px;
}

.cm-s-mbo .CodeMirror-linenumber {
	color: #dadada;
}

.cm-s-mbo .CodeMirror-cursor {
	border-left: 1px solid #ffffec !important;
}

.cm-s-mbo span.cm-comment {
	color: #95958a;
}

.cm-s-mbo span.cm-atom {
	color: #00a8c6;
}

.cm-s-mbo span.cm-number {
	color: #00a8c6;
}

.cm-s-mbo span.cm-property,.cm-s-mbo span.cm-attribute {
	color: #9ddfe9;
}

.cm-s-mbo span.cm-keyword {
	color: #ffb928;
}

.cm-s-mbo span.cm-string {
	color: #ffcf6c;
}

.cm-s-mbo span.cm-variable {
	color: #ffffec;
}

.cm-s-mbo span.cm-variable-2 {
	color: #00a8c6;
}

.cm-s-mbo span.cm-def {
	color: #ffffec;
}

.cm-s-mbo span.cm-bracket {
	color: #fffffc;
	font-weight: bold;
}

.cm-s-mbo span.cm-tag {
	color: #9ddfe9;
}

.cm-s-mbo span.cm-link {
	color: #f54b07;
}

.cm-s-mbo span.cm-error {
	background: #636363;
	color: #ffffec;
}

.cm-s-mbo .CodeMirror-activeline-background {
	background: #494b41 !important;
}

.cm-s-mbo .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: #f5e107 !important;
}

div.CodeMirror span.CodeMirror-searching {
	background-color: none;
	background: none;
	box-shadow: 0 0 0 1px #ffffec;
}