<img src="images/source.png" />
<button id="helperSourceCodeButton" onclick="return false;">{if $activeTask|is_a:'GuideSystem\Model\Task\Attack\ApplicationText'}Quelltextausschnitt{else}Lösungsquelltext{/if}</button>